/*.app-title{
  text-align: center;
}*/
body{
  /* background-color: gray; */
max-width: 1280px;
max-height: 800px;

}

.beer-buddy-title{
    clear: both;
    text-align: center;
    font-size: 100px;
    position: relative;
    top: 90px;
    color: white;
  }
  .nav-bar2-container{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none;
    
  }


.nav-bar2{
float: left;
display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

  #intruction-link,
    #home-link{
    display: inline;
    padding-right: 20px;
  }

  ul{
    padding: 0;
    
  }

  .list-one, .list-two , .list-three , .list-three a{
    text-decoration: none;
    color: #000;
    list-style: none;
  }

  li a{
    text-decoration: none;
    color: white;
    
  }

  .beer-link{
    text-decoration: none;
  }
  #intruction-link{
    position: relative;
    /* right: 60px; */
  }
  #home-link{
  position: relative;
  /* when search is display none move  this element over*/
  /* left: 79%; */
  }
  
  .search-nav-text{
  position: relative;
  top: 36px;
  right:45px;
  }
  
  .search-option {
    float: right;
    display: none;
    /* using absolute position will have to fixed to create sticky effect later*/
    position: relative;
    
    top: -85px;
  }
  #beer-nav-search{
    width: 80%;
  }
  .round {
    width: 100%;
    border-radius: 30px;
    padding: 5px 5px 5px 25px;
    z-index: 10;
}
  
  .middle-container{
    
    width: 80%;
    border: 1px solid black;
    height: 500px;
    position: absolute;
    left: 10%;
  }
  
  .title-container{
    width: 100%;
    border: 1px solid black;
  }
  
  .search{
  
  }
  
  .search-nav-text{
    color: white;
    position: relative;
     bottom: 5px;
    
  }

  .search-text{
    position: relative;
    left: 30%; 
  }
  
  
  #beer-search{
  
  position: relative;
  left: 25%;
  width: 50em;
  height: 50px;
  top: 60px;
  }
  
  .btn{
  position: relative;
  left: 45%;
  width: 10%;
  top: 80px;
  z-index: 5;
  }
  
  .beer-search-container{
  display: none;
  width: 50%;
  height: 500px ;
  position: relative;
  left:5%;
  
  background-color:rgba(155, 145, 145, 0.3);
  
  /*add all classes that need to not be displayed to hide class*/
  /*display: none;
  }
  
  .result{
    position: relative;
    width: 40%;
    border-bottom: 1px solid black;
    left: 30%; 
  }
  
  .hide{
    /*display:none;*/



  }
  .beer-link{
    position: relative;
    left: 2px;
    top: 10px;
    font-size: 30px;
  }
  .beer-name{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width:90%; 
    position: relative;
    left: 25px;
  }
.zip2{
  position: relative;
  width: 60px;
  left: 68%;
  top: -25px;
  border: none;
 border-left: 1px solid gray;
}
  .zip{
    position: relative;
    left: 50px;
    top: 60px;
    z-index: 10;
    height: 50px;
    border: none;
    border-left: 1px solid gray;
  }
  
  
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 500px;  /* The width is the width of the web page */
    display: none;
    left: 60%;
    position: absolute;
    overflow: hidden;
    
    bottom: 90px;
   }